body {
    background-image: url("img/Лисы.png");

}
#layout {
    width: 100%;
    max-width: 1024px;
    height: 300px;
    margin: auto;
    /*border: 1px solid black;*/
    background: white;
    box-shadow: 10px 5px 5px green;
}
td {
    padding: 20px;
    vertical-align: top;
    /*background: white;*/

}
thead, tfoot{
    font-size: 16px;
    background:  #3e8e41;
    margin: 5cm auto;
    font-family: fantasy;
    border: 1px solid black;
    color: white;

}
tfoot {
    font-size: 14px;
    background:  lightgreen;
    margin: 5cm auto;
    border: 1px solid black;
    font-family: monospace;
    color: black;
}
p {
    margin: 4px 2px;
}
.head-label {
    border: 1px solid green;
}
tbody{
    border: 1px black;

}
#input-grid {
    max-width: 100%;
    margin: auto 0px;
    text-align: center;

}

.input-grid-label {
    width: 12%;
    font-weight: bold;
    /*padding: 10px;*/
    text-align: center;
}

#input-side {
    width:  40%;
}
.center-labeled {
    display: block;
    position: relative;
    margin: 4px auto;
    padding: 4px 0px;
    /*font-size: 14px;*/
    text-align: center;
}

.center-labeled label {
    position: absolute;
    top: 18px;
    left: 6px;
}

.input-grid-value {
    float: left;
    clear: none;
    font-size: 14px;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input[type=radio],
input .x-radio {
    position: relative;
    /*bottom: 6px;*/
    clear: none;
    margin: 2px 0 0 2px;
}



.text-error {
    border: 1px solid #ff0000;

}

.text-error::placeholder {
    color: #ff0000;

}
.error-msg {
    font-size: 14px;
    color: red;
    text-align: left;

}
#main-img {
    margin-left: 60px;
    text-align: center;
}

/*circle{*/
/*    r: 4;*/
/*    cx: 5;*/
/*    cy: 150;*/
/*    fill-opacity: 0.8;*/
/*    fill: green;*/
/*}*/
.x-button1
{
    width:100%;
    text-align: left;
    font-size: 4px;
    max-width: 220px;
    padding: 15px;

}
.x-button
{
    display: inline-block;
    background-color: 	#ffcc80;
    border: 1px ridge;
    padding: 5px 5px;
    cursor: pointer;
    size: 2px;
    border-radius: 6px;
    font-size: 14px;
}
.x-button:hover {
    background-color: #ff9900; /* Green */
    color: white;
}
.x-button:active {
    background-color: #ff9900;
    box-shadow: 0 5px lightgoldenrodyellow;
    transform: translateX(1px);
}

.checkboxgroup {
    display: inline-block;
    text-align: center;
    appearance: auto;
    /*margin: 0 0.2em;*/
    padding: 10px;
}
.checkboxgroup label input[type="radio"]{
    display: block;
    margin: 0.5em auto;
}
#result-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.table-header {
    background: #ffcc80;
    margin: 16px 4px;
    padding: 6px;
}
.coords-col {
    width: 7%;
}

.time-col {
    width: 25%;
}
.head-label {
    margin: 2px auto 16px;
}